body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 32px; /* Set a default font size */
    margin-bottom: 20px;
}

p {
    font-size: 18px; /* Set a default font size */
    line-height: 1.6;
}

/* Media query for smaller devices (phones, etc.) */
@media (max-width: 600px) {
    h1 {
        font-size: 24px; /* Increase heading size for mobile */
    }

    p {
        font-size: 16px; /* Increase paragraph size for mobile */
    }

    .container {
        padding: 20px;
    }
}

/* Fade animations */
.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
